#gameStats {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	
}

#info {
	position: absolute;
	top: 20%;
  	width: 100%;
	text-align: center;
	z-index: 100;
	font-size: 80px;
	color: white;
	cursor: none;
	
}


table, th, td {
	color: white;
	font-size: 20px;
}

body { 
	margin: 0px;
}


canvas {
	width: 100%;
	height: 100%;
	cursor: none;
}